.order-confirm-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;

  width: 70%;
  margin-top: 20px;
  margin-left: 30px;
}

.order-confirm-header {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.confirm-price-container{
  width: 80%;
  height: 50px;
  margin-top: 10px;
  margin-left: 30px;

  font-weight: 300;
  font-size: 22px;
}

.confirm-price {
  color: rgb(192, 56, 7);
}

mat-progress-bar {
  margin-top: 1rem;
}

.extra {
  margin-left: 30px;
  margin-right: 30px;
}